<!-- Loop over each object in the blog array -->
<div class='d-flex justify-content-center flex-column w-100'>
  {{#each blogs as |bloggy|}}
    <div class='row mb-8'>
      <div class='d-flex col-md-8 bloggy w-100'>
        <div class='card w-100'>
          <div class='card-header'>
            <h2>
              <a class='card-header' href="/bloggy{{bloggy.id}}">
                {{bloggy.title}}
              </a>
            </h2>
          </div>
          <div class='card-body'>
            <blockquote class='blockquot center-text'>
              <h5 class='comment-text'>
                {{bloggy.description}}
              </h5>
              <br />
              <br />
              <footer class='blockquote-footer'>
                <cite title='Source Title'>
                  {{bloggy.user.name}} | {{bloggy.blog_date}}
                </cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class='seperator'>
    </div>
  {{/each}}
</div>